BasedOnStyle: LLVM

IndentWidth: 8
UseTab: Always
TabWidth: 8

BreakBeforeBraces: Custom
BraceWrapping:
  AfterClass: false
  AfterControlStatement: Never
  AfterEnum: false
  AfterFunction: false
  AfterNamespace: false
  AfterStruct: false
  AfterUnion: false
  BeforeCatch: false
  BeforeElse: true
  BeforeLambdaBody: false
  BeforeWhile: false

NamespaceIndentation: None
AccessModifierOffset: -8

SortIncludes: true
